// ********************** root colors **************************
:root {
  --outer-shadow: 3px 3px 3px 0 #d0d0d0, -3px -3px 3px 0 #f8f8f8;
  --outer-shadow-0: 0px 0px 0px 0 #d0d0d0, 0px 0px 0px 0 #f8f8f8;
  --inner-shadow: inset 3px 3px 3px 0 #d0d0d0, inset -3px -3px 3px 0 #f8f8f8;
}

$colors : (
  primary: #fb839e,
  secondary: #ec9412,
  third: #1fc586,
  fourth: #2eb1ed,
  fifth: #cc3a3b,
  text-black: #1f1f1f,
  dark-gray: #505050,
  bg-color: #eff0f4
);

// ************************* font import **************************
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');


// ***************************** Global Style *******************************
body {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: map-get($colors , bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

::before, ::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.container {
  max-width: 1175px;
  margin: auto;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .row-style {
    justify-content: flex-end;
  }
}

.outer-shadow {
  box-shadow: var(--outer-shadow);
}

.inner-shadow {
  box-shadow: var(--inner-shadow);
}

.hover-in-shadow {
  position: relative;
  z-index: 1;
}

.hover-in-shadow:hover {
  box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.hover-in-shadow:hover::after {
  box-shadow: var(--inner-shadow);
}

.align-items-center {
  align-items: center;
}

.more-btn {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  color: map-get($colors , primary);
  background-color: transparent;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s ease;
  display: inline-block;
}

.more-btn:hover:after {
  border-radius: 30px;
}

.effect {
  position: absolute;
  z-index: -1;
}

.effect-1 {
  width: 30px;
  height: 30px;
  border: 4px solid #8a49ff;
  right: 10%;
  bottom: 10%;
  animation: spin 10s linear infinite;
}

.effect-2 {
  left: 3%;
  bottom: 20%;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
}

.effect-2 div{
  height: 3px;
  width: 3px;
  background-color: #ff9c07;
  margin: 0 3px 8px;
  justify-content: space-between;
  animation: topBounce 3s ease-in-out infinite;
}

// .effect-3 {
//   height: 180px;
//   width: 180px;
//   border: 20px solid map-get($colors, primary );
//   border-radius: 50%;
//   left: 50%;
//   top: -120px;
//   animation: leftBounce 3s ease-in-out infinite;
// }

.effect-4 {
  border-top: 30px solid transparent;
  border-left: 30px solid #1fc586;
  top: 25%;
  left: 35%;
  animation: spin 10s linear infinite;
}

.effect-4::before {
  content: '';
  border-top: 30px solid transparent;
  border-left: 30px solid #1fc586;
  position: absolute;
  opacity: 0.7;
  left: -35px;
  top: -25px;
}

.effect-5 {
  height: 100px;
  width: 100px;
  right: 10%;
  top: 20%;
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
  animation: spin 10s linear infinite;
}

.effect-5 div {
  width: 4px;
  background: #2eb1ed;
  height: 100%;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes topBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(45px);
  }
}

@keyframes leftBounce {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(45px);
  }
}

// ***************************** Header Style *******************************
.header {
  padding: 20px 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  .logo a{
    display: inline-block;
    text-align: center;
    line-height: 34px;
    height: 40px;
    width: 40px;
    font-size: 24px;
    color: map-get($colors , primary);
    border-radius: 50%;
    border: 2px solid map-get($colors , primary );
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .hamburger-btn {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease;
  }

  .hamburger-btn::after{
    border-radius: 50%;
  }
  
  .hamburger-btn span {
    display: block;
    height: 2px;
    width: 16px;
    background-color: map-get($colors , text-black);
    text-align: center;
    position: relative;
  }

  .hamburger-btn span::before, .hamburger-btn span::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: map-get($colors , text-black);
  }

  .hamburger-btn span::before {
    top: -6px;
  }

  .hamburger-btn span::after {
    top: 6px;
  }
}

// ***************************** Navigation Style *******************************
.nav-menu {
  position: fixed;
  background: map-get($colors , bg-color);
  padding: 0 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;

  .close-nav-menu {
    height: 40px;
    width: 40px;
    display: block;
    font-size: 30px;
    line-height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    text-align: center;
    color: map-get($colors, text-black );
    transition: all 0.3s ease;
  }

  .close-nav-menu::after {
    border-radius: 50%;
  }

  .nav-inner-menu {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-inner-menu ul {
    padding: 20px;
  }

  .nav-inner-menu ul li {
    display: block;
    margin-bottom: 25px;
    text-align: center;
  }

  .nav-inner-menu ul li:last-child {
    margin-bottom: 0;
  }

  .nav-inner-menu ul li a{
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    color: map-get($colors, text-black );
    padding: 5px 30px;
    text-transform: capitalize;
    border-radius: 30px;
    font-family: 'Raleway', sans-serif;
  }

  .nav-inner-menu ul li a.active {
    color: map-get($colors , primary);
  }

  .nav-inner-menu ul li a::after {
    border-radius: 30px;
  }

  .copyright-text {
    position: absolute;
    left: -50px;
    top: 50%;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: map-get($colors, text-black);
    transform: translateY(-50%) rotate(-90deg);
  }
}

// ******************* Home Section ************************************
.home-section {
  position: relative;
}

.home-section {
  font-family: 'Raleway', sans-serif;
  .full-screen {
    padding: 50px 0;
    min-height: 100vh;
  }  
  .home-text, .home-img {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
  }
  .home-text p{
    font-size: 18px;
    text-transform: capitalize;
    margin: 0;
  }
  .home-text h2{
    font-size: 55px;
    font-weight: 700;
    color: map-get($colors , dark-gray);
  }
  .home-text h1{
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
  }
  .more-btn {
    margin-top: 20px;
  }
  .home-img .img-box {
    max-width: 350px;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 15px;
  }
  .img-box img {
    width: 100%;
    border-radius: 50%;
    border: 10px solid transparent;
  }

}
